$color: #666666;

.footer {
  margin-top: 60px;
  background-color: #131313;
  padding: 59px 0;
  color: $color;
  
  &-policy-link {
    font-size: 12px;
  }

  p {
    margin-bottom: 14px;
  }

  a {
    color: $color;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }

  .smoll {
    display: block;
    margin-top: 56px;
    line-height: 16px;
    font-size: 10px;
    max-width: 8%;
    color: #131313;
  }

  & ul {
    padding: 0;
    list-style: none;
    & li {
      line-height: 32px;
    }
  }

  &-contacts &-social-links {
    text-align: right;
  }

  &-contacts_phone {
    font: {
      weight: 400;
      size: 20px;
  }
    color: #009adf;
  
  &-social-links li {
    display: inline-block;

    & a {
        display: inline-block;
        width: 42px;
        height: 42px;
        background-color: rgba(255, 255, 255, 0.1);
        text-align: center;
        border-radius: 50%;
        line-height: 42px;
        margin-left: 10px;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
          color: #131313;
        }
    }
  }
}
.inverse {
  background-color: base.$primary-color;
  color: white;
}
